@import "~bootstrap/scss/bootstrap";

nav a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}

.active {
  text-decoration: underline;
}

.logo {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #131313;
  text-align: center;
}

.row > * {
  width: unset;
}

.container {
  margin-bottom: 70px;
}

.right {
  position: absolute;
  top: 12px;
  right: 10px;
}

.searchResult {
  border: solid 2px black;
  padding: 10px;
}

.searchResult img {
  width: 40px;
  margin-right: 10px;
  height: 30px;
}

.cart img {
  width: 50px;
  height: 70px;
}

.searchResults a {
  color: black;
  text-decoration: none;
}

.cartAmount {
  display: inline-block;
  position: relative;
  bottom: 10px;
  left: 3px;
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-container {
  margin-bottom: 100px;
}

@media (max-width: 576px) {
  .right {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .searchResults {
    min-width: 70vw;
  }

  .product-container {
    max-width: 300px;
  }

  .product-page img {
    width: 300px;
    margin-right: 10px;
  }
}
@media (max-width: 800px) {
  .searchResults {
    min-width: 70vw;
  }

  .product-container {
    max-width: 300px;
  }

  .product-page img {
    width: 300px;
    margin-right: 10px;
  }
}
